$main-font: 'Suisse Intl', 'Arial', sans-serif;
$title-font: 'Unbounded', 'Arial', sans-serif;

$text-size: 13px;
$leading-size: 17px;

$white-color: #FFFFFF;
$black-color: #000;
$dark-color: #151515;
$violet-color: #FE64FA;
$button-color: #8F8FFF;
$button-color-hover: #A3A3FF;
$button-color-active: #6464FF;
$pale-blue-color: #E0EAFF;
$light-color: #F0F0F0;
$placeholder-color: #ADADAD80;
$sale-color: #FFEB1C;


$breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 1368px;
$breakpoint_full: 1440px;